<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Densidad</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="../css/main.css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
</head>
<body>
<div id="page" class="container">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Fisix</a></h1>
			<span>Plantilla desarrollada por <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span>
		</div>
		<div id="menu">
			<ul>
				<li><a href="../index.html">Temperatura</a></li>
				<li><a href="velocidad.html">Velocidad</a></li>
				<li><a href="presión.html">Presión</a></li>
				<li><a href="densidad.html">Densidad</a></li>
				<li><a href="segundaleydenewton.html">Segunda Ley de Newton</a></li>
			</ul>
		</div>
	</div>
	<div id="main">
		<div id="featured" *ngIf="topic_id > 0">
			<div class="title">
				<h2>Densidad</h2>
			</div>
			<ul class="style1">
				<h3>EJERCICIOS DE CONVERSIÓN</h3>
				<li class="first">
					<p>Prueba</p>
					<input placeholder="Prueba" class="answer" type="text">
				</li>
				<button class="btn" (click)="check()">COMPROBAR</button>
			</ul>
		</div>
		<div *ngIf="topic_id === 0">
			Por favor selecciona un tema
		</div>
	</div>
</div>
</body>
</html>
